.header-profile {
  height: 400px;
  width: 100%;
  background-color: coral;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  
}

.profile-image {
  width: 300px;
  display: block;
  margin: 0 auto;
}